# used by intellij
# ignore these types of java files
*.class
*.jar
*.war
*.rar
*.gar
*.log

# ignore these IntelliJ files
.idea
*.iml
*.ipr
*.iws

# ignore these hidden and build specific files
.*
~*

# ignore these folders
target
dist
_package
build/
node_modules/
prj/demo/unified-persistence-explorer/runtime/

#ignore these specific files
dependency-reduced-pom.xml
.flattened-pom.xml

# however allow these files
!.ignore
!.github
!.gitignore
!prj/.mvn
!prj/.mvn/**
