// LoginModule Configuration for Coherence(TM)

Coherence {
    com.tangosol.security.KeystoreLogin required
      keyStorePath="target/classes/client.jks" keyStoreType="PKCS12" keyStorePass="password";
};

CoherenceREST {
    com.tangosol.security.KeystoreLogin required
      keyStorePath="target/classes/client.jks" keyStoreType="PKCS12" keyStorePass="password";
};
