# Copyright 2020 Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence CE GitHub Actions CI build.
# ---------------------------------------------------------------------------

name: CI Build

on:
  push:		
    branches-ignore:
    - master
    - p4-integ*
  pull_request:
    branches:
    - '*'

jobs:
# First run a simple compile and unit tests
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build
      shell: bash
      run: |
        export DEV_ROOT=$(pwd)
        rm -rf ~/.m2/repository/com/oracle/coherence-ce/
        mvn --file prj/pom.xml -U --batch-mode -e -P -javadoc verify -pl coherence -am

# If the build job runs successfully then run the verify stages in parallel
  stage:
    runs-on: ubuntu-latest
    needs:
    - build
    strategy:
      matrix:
        stage:
         - stage1
         - stage2
         - stage3
         - stage4
         - stage5
         - stage6
         - stage7
         - stage8
         - stage9
         - stage10
         - stage11
         - stage12
         - stage13
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Verify
      shell: bash
      run: |
        echo "Running verify ${{ matrix.stage }}"
        export DEV_ROOT=$(pwd)
        rm -rf ~/.m2/repository/com/oracle/coherence-ce/
        mvn --file prj/pom.xml -U --batch-mode -e -P ${{ matrix.stage }},-default,-shell,-javadoc -Doptional -Dcoherence.SkipLargeMemoryTests=true verify
    
