# This workflow will build a Java project with Maven and deploy snapshot
# artifacts to Maven Central
#
# This job is triggered by a completed run of the "CI Build" action.
# The "build" job only runs if the "CI Build" action completed successfully.
# The deployed artifacts will be built from the same commit that the "CI Build" action used.
#
name: Deploy to Maven Central

on:
  workflow_run:
    workflows: ["CI Build"]
    branches: [ master, v20.12, v14.1.1.0 ]
    types:
    - completed

env:
  MAVEN_OPTS: "-Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3"

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Java 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      env:
        MAVEN_USER: ${{ secrets.MavenUser }}
        MAVEN_PASSWORD: ${{ secrets.MavenPassword }}
        GIT_COMMIT: ${{github.event.workflow_run.head_commit.id}}
        HEAD_BRANCH: ${{github.event.workflow_run.head_branch}}
      run: sh tools/bin/github-deploy-snapshot.sh
