# Copyright 2020, 2024, Oracle Corporation and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.

# This workflow will build a Java project with Maven and deploy snapshot
# artifacts to Maven Central
#
# This job is triggered by a completed run of the "CI Build" action.
# The "build" job only runs if the "CI Build" action completed successfully.
# The deployed artifacts will be built from the same commit that the "CI Build" action used.
#
name: Deploy to Maven Central

on:
  workflow_run:
    workflows: ["CI Build"]
    # Only add branches that build with Java 21
    branches: [ v14.1.2.0 ]
    types:
    - completed

env:
  GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
  GIT_USER: ${{ secrets.BOT_USERNAME }}
  GIT_EMAIL: ${{ secrets.BOT_EMAIL }}
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: oracle-actions/setup-java@v1
      with:
        website: oracle.com
        release: 21

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      env:
        MAVEN_USER: ${{ secrets.MavenUser }}
        MAVEN_PASSWORD: ${{ secrets.MavenPassword }}
        GIT_COMMIT: ${{github.event.workflow_run.head_commit.id}}
        HEAD_BRANCH: ${{github.event.workflow_run.head_branch}}
      run: |
        echo "Checking out branch ${HEAD_BRANCH} commit ${GIT_COMMIT}"
        git checkout "${GIT_COMMIT}"
        git config --local user.name "${GIT_USER}"
        git config --local user.email "${GIT_EMAIL}"
        sh tools/bin/github-deploy-snapshots.sh
